<!doctype html>
<html ng-app="stockApp">
  <head>
    <meta charset="UTF-8">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/stockController.js"></script>
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body>
    <h2>Listado de Productos</h2>
    <p>Buscar : <input type="text" ng-model="searchProduct">
    <input type="button" value="Agregar Producto" onclick="window.location.href='add.html';"/></p>
    <div ng-controller="StockController as stockCtrl">
      <table border="1">
        <tbody>
          <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Notas</th>
          </tr>
        </tbody>
      <tr ng-repeat="product in products | filter: searchProduct | orderBy:'price'">
        <td>{{product.code }}</td>
        <td>{{product.description | uppercase}}</td>
        <td>{{product.price | currency}}</td>
        <td><img ng-src="img/{{product.picture}}" width="100px" height="100px"></td>
        <td>{{product.notes}}</td>
      </tr>      
    </div>
  </body>
  </table>
</html>

sssssss