.done-true {
  text-decoration: line-through;
  color: grey;}
<<<<<<< HEAD

  th {
	  background-image: linear-gradient(to top, #FFEB3B, #E91E63);
	  font-family: monospace;
	  font-size: 17px;
  }
  tr {
  	  background-image: linear-gradient(to top, #8BC34A, #FFEB3B);
  }
table {
	width: 100%;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.ng-binding {
	text-align: center;
}
=======
tr {
background-color: #09A5FF;
}
>>>>>>> 0e4204e01658f43be4a5d9a5a500500d593a87db
